canvas {
	border: 1px solid black;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
    gap: 10px;
}

td {
	text-align: right;
}
